Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2018-12, with the labels that each got.

#186 Fix for required properties in generated schema
  generate_schema/generate_provider_schema.py
  provider/status_changes.json
  provider/trips.json
Labels: JSON Schema, Provider

#194 Restructure api and add event-status model
  agency/README.md
Labels: Agency

#173 Require Standard HTTP Status Codes for Provider
  provider/README.md
Labels: Provider
