Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2018-11, with the labels that each got.

#162 Allowing null for links.next
  generate_schema/common.json
  provider/status_changes.json
  provider/trips.json
Labels: JSON Schema

#166 Add `next` link requirement
  provider/README.md
Labels: Provider

#147 Release guidelines
  README.md
  ReleaseGuidelines.md
  ReleaseNotes.md
Labels: admin

#110 Add service area type to the agency API. Add service areas to the provider API
  agency/README.md
  provider/README.md
Labels: Agency, JSON Schema, Provider
