Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2019-10, with the labels that each got.

#353 Allow any status change to include an `associated_trip`
  provider/dockless/status_changes.json
  schema/templates/provider/status_changes.json
Labels: JSON Schema, Provider

#356 Adding min and max values for GPS coordinates in common JSON schema
  agency/post_vehicle_event.json
  agency/post_vehicle_telemetry.json
  provider/dockless/status_changes.json
  provider/dockless/trips.json
  schema/generate_schema.py
  schema/templates/common.json
Labels: JSON Schema

#363 Update Agency state machine artwork
  agency/images/MDS_agency_event_state.png
Labels: Agency

#371 Remove SLA verbiage from /telemetry endpoint
  agency/README.md
Labels: Agency

#368 Unify error response format per #317
  provider/README.md
Labels: Provider

#314 [provider readme] fix version legacy headers
  provider/README.md
Labels: Provider

#360 Add accuracy field to GPS telemetry
  agency/README.md
  agency/post_vehicle_event.json
  agency/post_vehicle_telemetry.json
  schema/templates/common.json
Labels: Agency

#380 add associated_ticket. Fixes #269
  provider/README.md
  provider/dockless/status_changes.json
  schema/templates/provider/status_changes.json
Labels: JSON Schema, Provider

#384 Update JSON schemas for 0.4.0
  provider/dockless/status_changes.json
  provider/dockless/trips.json
  schema/templates/common.json
Labels: JSON Schema, Provider

#357 Allow static file data storage for Provider /status_changes and /trips
  provider/README.md
Labels: Provider

#395 Provider language cleanup
  provider/README.md
Labels: Provider

#393 Updating templates to include policy spec
  .github/ISSUE_TEMPLATE/feature-request---proposal.md
  .github/pull_request_template.md
Labels: admin
