Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2020-02, with the labels that each got.

#440 Correct reference to old mds-announce ML in the Release Guidelines
  ReleaseGuidelines.md
Labels: admin, bug, documentation

#414 fix CLEVR mds url
  providers.csv
Labels: Provider, documentation

#420 Add Bolt Technology as MDS provider
  providers.csv
Labels: Provider, documentation

#436 Add Grin provider
  providers.csv
Labels: Provider, documentation

#439 Provider: Mention ambiguity for event_type reserved
  provider/README.md
Labels: Provider, enhancement

#424 Clarify no pagination on static provider endpoints /trips and /status_changes
  provider/README.md
Labels: Provider, documentation

#416 Add "moped" vehicle type
  README.md
  agency/README.md
  agency/get_vehicle.json
  agency/post_vehicle.json
  provider/README.md
  provider/dockless/status_changes.json
  provider/dockless/trips.json
  schema/templates/common.json
Labels: Agency, Policy, Provider, enhancement

#446 Add Dott provider entry
  providers.csv
Labels: Provider, documentation

#452 Added link in README to the Understanding MDS APIs wiki page
  README.md
Labels: documentation

#450 Updating team names in CODEOWNERS
  CODEOWNERS
Labels: Agency, Policy, Provider, admin

#454 Minor markdown cleanups
  provider/README.md
Labels: Provider, documentation

#412 Update example to use "maximum" instead of "limit"
  policy/examples.md
Labels: Policy, bug

#409 Add missing rule_id to rule in Policy spec
  policy/README.md
  policy/examples.md
Labels: Policy, bug

#444 add versioning for Agency and Policy API
  agency/README.md
  general-information.md
  policy/README.md
  provider/README.md
Labels: Agency, Provider, documentation

#408 Add `decommissioned` event type reason to agency vehicle_event schema
  agency/post_vehicle_event.json
Labels: Agency, JSON Schema, enhancement

#449 Add the currently supported MDS versions
  ReleaseGuidelines.md
Labels: documentation

#456 Making required/optional endpoints more explicit
  provider/README.md
Labels: Provider, documentation

#376 Adding a /vehicles endpoint to show the current status of the fleet
  provider/README.md
  provider/dockless/vehicles.json
  schema/README.md
  schema/generate_schemas.py
  schema/templates/provider/vehicles.json
Labels: JSON Schema, Provider, enhancement
