Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2020-12, with the labels that each got.

#503 Geography-Driven Events
  agency/README.md
  general-information.md
  policy/README.md
  provider/README.md
Labels: Agency, Geography, Policy, Provider, privacy

#593 Add Jurisdictions API spec (read-only endpoints)
  README.md
  jurisdiction/README.md
  jurisdiction/examples/README.md
  jurisdiction/examples/jurisdictions.json
Labels: Geography

#591 Adding more to "Cities Using MDS"
  README.md
Labels: documentation

#603 Stops Updates for Release
  general-information.md
  policy/examples/README.md
  policy/examples/required-parking.json
Labels: Policy

#604 Geographic Updates for Release
  general-information.md
  geography/README.md
Labels: Geography

#587 Metrics - Feature Branch
  README.md
  geography/README.md
  metrics/README.md
  metrics/core_metrics.md
  metrics/dockless_metrics.md
  metrics/examples/README.md
  metrics/examples/activities.json
  metrics/examples/activities_response.json
  metrics/metrics_methodology.md
Labels: Metrics, privacy

#565 Agency/telemetry: add `unregistered` error
  agency/README.md
Labels: Agency

#585 Make Policy/Geography API Endpoints Optionally Public
  general-information.md
  geography/README.md
  policy/README.md
Labels: Policy, privacy, security

#607 Provider Reports - Static
  geography/README.md
  metrics/core_metrics.md
  provider/README.md
Labels: Provider, enhancement, privacy

#609 Added update frequency policy section
  policy/README.md
Labels: Policy
