Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2020-06, with the labels that each got.

#477 Add link to State of Practice Wiki
  README.md
Labels: Minor Update, documentation

#508 Change GBFS references
  provider/README.md
Labels: Provider, documentation

#469 Agency: vehicle register: add provider_id field
  agency/README.md
Labels: Agency, enhancement

#465 Agency: clarify vehicle endpoint requirements
  agency/README.md
Labels: Agency, enhancement

#467 agency: Vehicle Update response code should be 200
  agency/README.md
Labels: Agency, enhancement

#523 Policy: use a consistent definition for timestamps (recreation)
  policy/README.md
Labels: Policy, bug

#522 Updating references from 'master' to 'main'
  .github/PULL_REQUEST_TEMPLATE/release-candidate.md
  .github/PULL_REQUEST_TEMPLATE/release-final.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  ReleaseGuidelines.md
  ReleaseNotes.md
  agency/get_vehicle.json
  agency/post_vehicle.json
  agency/post_vehicle_event.json
  agency/post_vehicle_telemetry.json
  provider/README.md
  provider/auth.md
  provider/dockless/events.json
  provider/dockless/status_changes.json
  provider/dockless/trips.json
  provider/dockless/vehicles.json
  schema/templates/agency/get_vehicle.json
  schema/templates/agency/post_vehicle.json
  schema/templates/agency/post_vehicle_event.json
  schema/templates/agency/post_vehicle_telemetry.json
  schema/templates/common.json
  schema/templates/provider/status_changes.json
  schema/templates/provider/trips.json
  schema/templates/provider/vehicles.json
Labels: JSON Schema, admin, documentation

#506 Provider/Agency reconciliation
  agency/README.md
  general-information.md
  policy/README.md
  provider/README.md
  provider/auth.md
Labels: Agency, JSON Schema, Provider, state-machine

#461 Clarify success response for telemetry update
  agency/README.md
Labels: Agency, enhancement

#532 Adding Definitions. Updating links, formatting.
  README.md
  agency/README.md
  general-information.md
  policy/README.md
  provider/README.md
Labels: Agency, Minor Update, Policy, Provider, documentation

#530 New State Machine Diagram
  MDS-state-machine-diagram.svg
  agency/images/MDS_agency_event_state.png
  general-information.md
Labels: documentation

#520 Updated "Cities Using MDS" List
  README.md
Labels: documentation

#535 Superpedestrian MDS feed
  providers.csv
Labels: Minor Update

#484 Policy: add "rates" (fees + subsidies)
  policy/README.md
  policy/examples.md
Labels: Policy

#536 Removing OPTIONS version negotiation
  general-information.md
Labels: Agency, Provider

#427 Add MDS Stops RT Specification (Agency & Provider)
  agency/README.md
  general-information.md
  provider/README.md
Labels: Agency, Provider, enhancement

#442 Add stop references to trips and status_changes
  general-information.md
  provider/README.md
  provider/events.json
  provider/status_changes.json
  provider/trips.json
  provider/vehicles.json
  schema/generate_schemas.py
Labels: Provider, enhancement

#538 Updated Atlanta city MDS link
  README.md
Labels: Minor Update

#516 Release Notes for 1.0.0
  ReleaseNotes.md
Labels: documentation

#539 Release Candidate 1.0.0 Cleanup
  .github/PULL_REQUEST_TEMPLATE/default.md
  README.md
  agency/README.md
  general-information.md
  policy/README.md
  provider/README.md
Labels: Agency, Policy, Provider, admin, documentation

#541 JSON Schemas for Stops
  agency/README.md
  agency/get_stops.json
  agency/post_stops.json
  agency/post_vehicle_event.json
  agency/post_vehicle_telemetry.json
  agency/put_stops.json
  general-information.md
  provider/README.md
  provider/events.json
  provider/status_changes.json
  provider/stops.json
  provider/trips.json
  provider/vehicles.json
  schema/generate_schemas.py
  schema/templates/agency/get_stops.json
  schema/templates/agency/post_stops.json
  schema/templates/agency/put_stops.json
  schema/templates/common.json
  schema/templates/provider/stops.json
Labels: Agency, JSON Schema, Provider
