Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2020-11, with the labels that each got.

#597 Rename publish_date to published_date for a geography object
  geography/README.md
  geography/examples/README.md
  geography/examples/distribution-zone-8.json
  geography/examples/geographies.json
  geography/examples/municipal-boundary.json
  geography/examples/no-ride-zone.json
  geography/examples/operating-area.json
  geography/examples/slow-ride-zone.json
  geography/examples/stop.json
Labels: Geography, Policy

#600 add pony provider
  providers.csv
Labels: minor update

#602 Add Seven Group and Zisch as Providers
  providers.csv
Labels: minor update

#563 Clarify trips and status changes response behavior
  provider/README.md
Labels: Provider
