Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2020-10, with the labels that each got.

#487 Add initial MDS Metrics definitions
  README.md
  metrics/README.md
  metrics/core_metrics.md
  metrics/dockless_metrics.md
  metrics/examples/README.md
  metrics/examples/activities.json
Labels: Metrics, privacy

#592 Adding GIG and their provider uuid
  providers.csv
Labels: minor update

#594 Add geography and authentication to Metrics feature branch
  metrics/README.md
  metrics/core_metrics.md
  metrics/dockless_metrics.md
  metrics/examples/README.md
  metrics/examples/activities.json
  metrics/examples/activities_response.json
  metrics/metrics_methodology.md
Labels: Agency, Metrics, Provider, privacy
