Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2020-07, with the labels that each got.

#543 Organize schema generation
  schema/README.md
  schema/__init__.py
  schema/agency.py
  schema/common.py
  schema/generate_schemas.py
  schema/provider.py
Labels: JSON Schema

#542 Release Candidate 1.0.0 Cleanup B
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  README.md
Labels: Minor Update, admin

#558 Updated state transitions.
  general-information.md
Labels: JSON Schema, State Machine, bug

#560 Add 'unspecified' events to some schema states
  general-information.md
  schema/templates/common.json
Labels: JSON Schema
