Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2021-09, with the labels that each got.

#683 Update schema version for 1.2.x
  policy/policy.json
  provider/events.json
  provider/status_changes.json
  provider/stops.json
  provider/trips.json
  provider/vehicles.json
  schema/templates/common.json
Labels: Provider, JSON Schema, Policy

#665 Move Provider Vehicles Out of Beta
  general-information.md
  provider/README.md
  provider/vehicles.json
Labels: Provider

#687 Add all vehicle states to schema template
  schema/templates/provider/vehicles.json
Labels: Provider, JSON Schema

#646 Policy Requirements
  README.md
  agencies.csv
  general-information.md
  policy/README.md
  policy/examples/README.md
  policy/examples/requirements.md
Labels: enhancement, JSON Schema, Policy, privacy

#658 Tiered Dwell Time with Rates
  policy/README.md
  policy/examples/README.md
  policy/examples/tiered-parking-fees-per-hour.json
  policy/examples/tiered-parking-fees-total.json
Labels: Policy

#693 Align Policy JSON Schema & Examples with spec
  policy/examples/idle-time.json
  policy/examples/metered-parking-fees.json
  policy/examples/per-trip-fees.json
  policy/examples/prohibited-zone.json
  policy/examples/provider-cap.json
  policy/examples/required-parking.json
  policy/examples/speed-limits.json
  policy/examples/tiered-parking-fees-per-hour.json
  policy/examples/tiered-parking-fees-total.json
  policy/examples/vehicle-row-fees.json
  schema/templates/policy/policy.json
Labels: Policy

#689 Allow users to specify rule min/max treatment
  policy/README.md
  policy/policy.json
  schema/templates/policy/policy.json
Labels: Policy

#688 Add a rate_applies_when field to Policy Rules
  policy/README.md
  policy/examples/README.md
  policy/examples/tiered-parking-fees-per-hour-in-bounds.json
  policy/policy.json
  schema/templates/policy/policy.json
Labels: Policy

#698 Add 'cargo_bicycle' vehicle type
  general-information.md
  schema/templates/common.json
Labels: minor update

#699 Support: Schema fixes for MDS 1.1.0
  ReleaseNotes.md
  policy/policy.json
  provider/events.json
  provider/status_changes.json
  provider/stops.json
  provider/trips.json
  provider/vehicles.json
  schema/templates/common.json
Labels: JSON Schema, State Machine, minor update

#700 Support: Schema fixes for MDS 1.1.0 - for 'dev'
  ReleaseNotes.md
  policy/policy.json
  provider/events.json
  provider/status_changes.json
  provider/stops.json
  provider/trips.json
  provider/vehicles.json
  schema/templates/common.json
Labels: JSON Schema, State Machine, minor update
