Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2022-12, with the labels that each got.

#807 `/reports` column names
  provider/README.md
Labels: Reports

#804 Reports - Add provider_id and adaptive_scooter as a special group type
  provider/README.md
Labels: Provider, Reports

#801 Modes Feedback and Final Changes
  README.md
  agency/README.md
  general-information.md
  modes/car-share.md
  modes/delivery-robots.md
  modes/micromobility.md
  policy/README.md
  provider/README.md
Labels: Modes, Passenger Services, Delivery Robots, Carshare

#786 Improve description field in Policy to require more human readable details
  policy/examples/README.md
  policy/examples/idle-time.json
  policy/examples/metered-parking-fees.json
  policy/examples/per-trip-fees.json
  policy/examples/prohibited-zone.json
  policy/examples/provider-cap.json
  policy/examples/required-parking.json
  policy/examples/speed-limits.json
  policy/examples/tiered-parking-fees-per-hour-in-bounds.json
  policy/examples/tiered-parking-fees-per-hour.json
  policy/examples/tiered-parking-fees-total.json
  policy/examples/vehicle-row-fees.json
Labels: Policy

#742 Updating policy query parameter language to be clearer.
  policy/README.md
Labels: Policy

#810 Reports - Accept header media-type
  general-information.md
  provider/README.md
Labels: Provider, Reports

#809 Reports - remove time-related columns
  provider/README.md
Labels: Provider, Reports
