Repository openmobilityfoundation/mobility-data-specification, pull requests merged in 2023-01, with the labels that each got.

#813 Policy Requirements - Use Case Support
  policy/README.md
  policy/examples/requirements.md
Labels: Policy, Requirements

#814 Replace unknown state
  modes/car-share.md
  modes/delivery-robots.md
  modes/event_types.md
  modes/micromobility.md
  modes/passenger-services.md
  modes/vehicle_states.md
Labels: Provider, Agency, Policy

#762 Define a "trip" for the purposes of analyses
  general-information.md
  provider/README.md
Labels: Provider, Agency, Policy

#740 Better Telemetry error handling
  agency/README.md
Labels: Agency

#817 Remove 'rate' rule-type, since we can put rate_amount on any rule
  policy/README.md
  policy/policy.json
  schema/templates/policy/policy.json
Labels: Policy

#796 Provider/Agency API alignment
  agency/README.md
  data-types.md
  general-information.md
  modes/README.md
  policy/examples/requirements.md
  provider/README.md
Labels: Provider, Agency, Schema, State Machine

#820 remove hdop
  data-types.md
Labels: Provider, Agency, Data Types

#824 Remove Geographies from Policy and make public
  README.md
  agency/README.md
  general-information.md
  geography/README.md
  jurisdiction/README.md
  policy/README.md
Labels: Policy, Geography, Jurisdiction

#825 Clarifying GBFS use with new modes
  README.md
  agency/README.md
  provider/README.md
Labels: Provider, Agency
